# Tiledesk environment — copy to .env

EXTERNAL_BASE_URL=http://localhost:8081
EXTERNAL_MQTT_BASE_URL=ws://localhost:8081
TILEDESK_PORT=8081
TILEDESK_GPTKEY=
CHAT21_ADMIN_TOKEN=chat21-secret-orgAa
RABBITMQ_PASS=password
